{% extends 'EnsatGraduateBundle:Default:index.html.twig' %}

{% block loader %}

{% endblock %}

{% block container %}
    <div class="row-fluid">
        <div class="span12">
            <h3 class="heading">Les promotions par filière</h3>
            <div class="clearfix sepH_b">
                <div class="btn-group pull-right">
                    <a href="#" data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">Columns <span class="caret"></span></a>
                    <ul class="dropdown-menu tableMenu" id="dt_d_nav">
                        <li><label class="checkbox" for="dt_col_1"><input type="checkbox" value="0" id="dt_col_1" name="toggle-cols" checked="checked"/> Designation</label></li>
                        <li><label class="checkbox" for="dt_col_2"><input type="checkbox" value="1" id="dt_col_2" name="toggle-cols" checked="checked"/> Promotion</label></li>
                    </ul>
                </div>
            </div>
            <table class="table table-striped table-bordered dTableR" id="dt_d">
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Promotion</th>
                        <th >Actions</th>
                    </tr>
                </thead>
                <tbody>
                	{% for entity in entities %}
                    <tr>
                        <td>{{ entity.designation }}</td>
                        <td>{% if entity.promotion %}{{ entity.promotion }}{% endif %}</td>
                        <td class="center">
                        	<a class="btn btn-info" href="#">
								<i class="icon-edit icon-blue"></i>  
								Edit                                            
							</a>
							<div class="modal hide fade" ">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h3>Edit</h3>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" action="">
										<fieldset>
											<div class="control-group">
												<label class="control-label" for="intituler">Designation</label>
												<div class="controls">
								  					<input class="input-xlarge focused" id="intituler" type="text" value="{{ entity.designation }}">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="promotion">Promotion</label>
												<div class="controls">
								  					<select id="promotion" data-rel="chosen">
														<option>2013</option>
														<option>2012</option>
														<option>2010</option>
														<option>2009</option>
														<option>2008</option>
														<option>2007</option>
														<option>2006</option>
														<option>2005</option>
														<option>2004</option>
														<option>2003</option>
														<option>2002</option>
														<option>2001</option>
														<option>2000</option>
														<option>1999</option>
								  					</select>
												</div>
							  				</div>
											<div class="modal-footer">
												<div class="form-actions">
							  						<button type="submit" class="btn btn-primary">Save changes</button>
							  						<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
							<a class="btn btn-danger" href="{{ path('filiere_delete', { 'id': entity.id }) }}">
								<i class="icon-trash icon-red"></i> 
								Delete
							</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/ensatgraduate/css/chosen.css')}}" />
{% endblock%}

{% block javascripts %}
 {{parent()}}
 <script src="{{ asset('bundles/ensatgraduate/lib/datatables/jquery.dataTables.min.js')}}"></script>
 <script src="{{ asset('bundles/ensatgraduate/js/gebo_datatables.js')}}"></script>
 <script src="{{ asset('bundles/ensatgraduate/js/jquery.chosen.min.js')}}"></script>
 <script type="text/javascript">
 	$('document').ready(function() {
 	
 	  $('[data-rel="chosen"],[rel="chosen"]').chosen();
 	  
	  $('a.btn-info').click(function (e) {
          e.preventDefault();
          $(this).next('div.modal').modal('show');
           });
		});
 </script>
{% endblock %}
