{% extends 'EnsatGraduateBundle::layout.html.twig' %}
{% block title %}
Gestion des laureats
{% endblock %}

{% block container_nav %}

<div class="row-fluid">
	<div class="span12">
		<ul class="dshb_icoNav tac">
			<li><a href="javascript:void(0)" style="background-image: url({{ asset('bundles/ensatgraduate/images/gCons/multi-agents.png')}})"> Promotion</a></li>
			<li><a href="javascript:void(0)" style="background-image: url({{ asset('bundles/ensatgraduate/images/gCons/world.png')}})">Event</a></li>
			<li><a href="javascript:void(0)" style="background-image: url({{ asset('bundles/ensatgraduate/images/gCons/pie-chart.png')}})">Charts</a></li>
			<li><a href="javascript:void(0)" style="background-image: url({{ asset('bundles/ensatgraduate/images/gCons/lab.png')}})">Import</a>
			<li><a href="javascript:void(0)" style="background-image: url({{ asset('bundles/ensatgraduate/images/gCons/van.png')}})"> Export</a></li>
		</ul>
	</div>
</div>

{% endblock %}

{% block container%}


{% endblock %}

{% block nav %}
<nav>
	<div class="nav-collapse">
        <ul class="nav">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-list-alt icon-white"></i> GINF <b class="caret"></b></a>
                	<ul class="dropdown-menu">
                	{% for promotion in app.session.get('ginf')  %}
	                	<li><a href="#">promotion {{promotion.promotion}}</a></li>
                	{% endfor %}
                	</ul>                               
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-th icon-white"></i> GSTR <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for promotion in app.session.get('gstr')  %}
	                	<li><a href="#">promotion {{promotion.promotion}}</a></li>
                	{% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-wrench icon-white"></i> GSEA <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for promotion in app.session.get('gsea')  %}
	                	<li><a href="#">promotion {{promotion.promotion}}</a></li>
                	{% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-file icon-white"></i> GIND<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for promotion in app.session.get('gind')  %}
	                	<li><a href="#">promotion {{promotion.promotion}}</a></li>
                	{% endfor %}
                </ul>
            </li>
     		<li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-file icon-white"></i> GEEEI <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for promotion in app.session.get('geeei')  %}
	                	<li><a href="#">promotion {{promotion.promotion}}</a></li>
                	{% endfor %}
                </ul>
            </li>
            <li>
            </li>
            <li>
                <a href="documentation.html"><i class="icon-book icon-white"></i> Help</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
